<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBb4oP3CB-SlRkq8rq2kAHq9TSIbXZcQTQ</string>
	<key>GCM_SENDER_ID</key>
	<string>894937209496</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tddboilerplate</string>
	<key>PROJECT_ID</key>
	<string>tddboilerplate</string>
	<key>STORAGE_BUCKET</key>
	<string>tddboilerplate.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:894937209496:ios:46450b8069391d70cd4eed</string>
</dict>
</plist>